<h3 class="chat-title"><strong><%= chat.name %> Messages: </strong></h3>
<ul class="messages">
    <% if (messages) { %>
        <% messages.forEach(message => { %>
            <div class="message">
                <div class="message-info">
                    <small><strong>
                        <% if (isMember) { %>
                            <%= message.author.username %>
                        <% } else { %>
                            Anonymous
                        <% } %>
                    </strong></small>
                    <small>
                        <%= message.timestamp_formatted %>
                    </small>
                    <p>
                        <span class="message-title"><strong><%= message.title %>:</strong></span> <%= message.text %>
                    </p>
                </div>
                <% if (user.admin) { %>
                    <form action="/chat/<%= chat._id %>" method="post">
                        <input type="hidden" name="formType" value="deleteForm">
                        <input id="<%= message._id %>" class="form-control" type="hidden" name="deleteMessage" value="<%= message._id %>">
                        <button class="delete-btn" type="submit" >Delete</button>
                    </form>
                <% } %>
            </div>
        <% }) %>
    <% } else { %>
        <p>No messages</p>
    <% } %>
</ul>
<form action="/chat/<%= chat._id %>" method="post">
    <input type="hidden" name="formType" value="messageForm">
    <div class="messageForm">
        <input type="text" id="title" name="title" placeholder="Type title here">
        <textarea type="text" id="message" name="message" rows="4" placeholder="Type message here"></textarea>
    </div>
    <button class="btn btn-primary" type="submit">Send</button>
</form>
<% if (messageErrors) { %>
    <% messageErrors.forEach(function(error) { %>
        <div style="color:red;"><%= error.msg %></div>
    <% }); %>
<% } %>